@import url('https://fonts.cdnfonts.com/css/barbie');
/*
colors used:
light white: #fbe8ff
barbie pink: DB5ABA
blue-black: 0D1321
navy: 21296C
turquoiuse for accepted tasks: 41EAD4
red error color: 931621
more blues:
- 59A5D8 - sky blue
- 4b88a2 - tealy 



FONTS
font-family: 'Chewy', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Ubuntu', sans-serif;
*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*Title Heading*/
h1 {
    font-family: 'Titan One', cursive;
    color: #fdc5f5;
    text-shadow: 5px 5px#DB5ABA;
    -webkit-text-stroke: #DB5ABA 1px;
}

h2 {
    font-family: 'Titan One', cursive;
    color: #faf0f8;
    text-shadow: 5px 5px#DB5ABA;
    -webkit-text-stroke: #DB5ABA 1px;
}



.container {
    position: relative;
    width: 50%;
}



#section-blue {
    background-color: #3e3f92;
    border-radius: 20px 20px 0px 0px;
}

#section-white {
    background-color: white;
}

#section-pink {
    background-color:#db43a3;

}


.pop-up {

}

#notice-pop-up {

}

#task-pop-up {

}


.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #db43a3;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.container:hover .overlay {
    width: 100%;
}

.text {
    white-space: nowrap;
    font-family: 'Barbie', sans-serif;
    color: rgb(236, 200, 237);
    background-color: #db43a3;
    font-size: 50px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*Navigation bar + components*/
nav {
    background-color: #fdc5f5;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin:0;
    left:0;
    display: flex;
    
}


/*Nav links styling*/

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    
}

nav ul li {
    position: relative;
    width: 100%;
    
}

nav ul li a { 
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: #262764;
    text-decoration: none;
    width: 100%;
    height: 100%;
    
}

nav a:hover {
    background-color: #DB5ABA;
    color: #ffffff;
    border-radius: 15px;
}

nav ul li a span {
    position: relative;
    display: block;

}

.material-symbols-outlined {
    font-size: 4em !important;
}

/*Top Page Navigation*/

#top-nav {
    background-color: #37388a;
    top: 0;
}


/*Bottom Page Navigation*/
#bot-nav {
    height: 10%;
    background-color: #fdc5f5;
    bottom: 0;
    justify-content: center;
    align-items: center;
    
    
}


/*Landing Page*/
#landing {
    background-color: #6b74bb;  
}

#brand {
    text-align: center;
    font-size: 90px;
    margin-top: 90%;
    margin-bottom: 0%;
    
}

#enter-text {
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    color: #26175e;
    margin-bottom: 50%;
}

/*Home Page*/

/*Task Page*/


/*User Profile*/