@import url('https://fonts.googleapis.com/css2?family=Inika&family=Lemon&family=Monomaniac+One&display=swap');

:root {
    --darkBlue: #2B425F;
    --darkPink: #D3629F;
    --lightPink: #FFCCF4;
    --beige: #EDE8E8;
    --green: #31A69F;
    --magenta: #9A1F69;
    --mutedBlue: #386BA7;
    --borderBeige: #F0F4FD;
    --textColor: #FFFFFF;
    --font-inika: 'Inika', serif;
    --font-lemon: 'Lemon', serif;
    --font-game: 'Monomaniac One', sans-serif;
    --margin: 3%
}

/* OVERALL WEBSITE STYLE */
body {
    color: var(--darkBlue);
    background-color: var(--beige);
    font-family: var(--font-inika);

}

* {
    margin: 0;
    padding: 0;
}

.container-header {
    font-size: 5vw;
    color: var(--darkBlue);
    font-family: var(--font-lemon);
    margin:var(--margin)
}

.general-btn {
    text-align: center;
}

/* HOME (TASK PAGE)/ UNASSIGNED TASK PAGE */

.task-card {
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--darkBlue) solid 4px;
    border-radius: 30px;
    background-color: var(--darkPink);
    padding: 1% 5% 1% 5%;
    margin: var(--margin);
    text-transform: capitalize;
}

.task-card .points {
    font-family: var(--font-game);
    color: var(--lightPink);
    padding-right: var(--margin);
}

input, .task-card .points i {
    margin-right: 5px
}

.btn {
    color: var(--textColor);
    background-color: var(--mutedBlue);
    border: var(--beige) solid 2px;
    padding: 5%;
    border-radius: 10px;
    font-family: var(--font-inika);
}


.btn.accept {
    background-color: var(--green);
}

.btn.reject {
    background-color: crimson;
}

.task-btn {
    display: flex;
    justify-content: space-between;
} 

.crossed {
    text-decoration: line-through;
}

/* HEADER STYLE */
header {
    background-color: var(--darkBlue);
    height: 5vh;
    font-family: var(--font-lemon);
    font-size: 10vw;
    text-align: center;
    padding-top: var(--margin);
    padding-bottom: 5%;
    text-shadow: var(--darkPink) -3px 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--textColor)
}


/* MAIN */
main {
    margin-top:  10vh;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--lightPink);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    flex: 1;
    text-align: center;
    padding: 3vw;
}

.icon {
    font-size: 7vw;
    color: var(--darkBlue);
}

.active {
    background-color: var(--darkPink);
}

