@import url('https://fonts.googleapis.com/css2?family=Inika&family=Lemon&family=Monomaniac+One&display=swap');

  /** Game **/

  .battle-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .health-bar {
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid rgb(95, 13, 13);
    border-radius: 10px;
    background-color: rgb(51, 12, 22);
    
  }
  
  .health-bar-fill{
    width: var(--health);
    height:100%;
    background: rgb(214, 22, 70);
    border-radius: 10px;
    transition: width 0.5s;
  }
  
  
  .health-bar-value {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
  }
  
  .sprites {
    display: flex;
    justify-content:center;
    background-color: #c88ed6;
    background-image: url("./assets/bg.jpg");
    padding-bottom: 5%;
    border-radius: 20px;
    border:#1a173b solid 3px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 27%;
    margin-bottom: 5%;
    height: 35vh;
  }
  
  .enemy img{
    width: 25vh;
    margin: 4%;
  }
  
  .player img {
    margin-top: 150%;
    width: 30vw;
  }

  .task-completed {
    overflow-y:scroll;
   
  }
  
.battle-area {
    background-color: var(--darkBlue);
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 20px 20px 0px 0px;
}
.battle-area h1, h3, h4{
    color:#fcefff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Inika', serif;
    font-weight: 100;
}


.battle-area h1 {
    color: rgb(255, 139, 168);
}

.notifications{
    background-color: #c88ed6;
    padding-bottom: 5%;
    padding-top: 5%;
    overflow-y: scroll;
    bottom: 0;
}







